<footer>
    <div class="container">
        <div class="footer-wrapper">
            <div class="footer-left">
                <div class="footer-left-wrapper">
                    <div class="logobox">
                        <img src="assets/logo-white.png" alt="">
                    </div>
                    <p class="copyright md-show">
                        Copyright &copy; 2020 | NBC NEWS
                    </p>
                </div>
            </div>
            <div class="footer-middle">
                <div class="footer-middle-container">
                    <a href="#">Privacy Policy</a>
                    <a href="#">Do not sell my personal info</a>
                    <a href="#">Terms of Service</a>
                    <a href="#">nbcnews.com Site Map</a>
                </div>
            </div>
            <div class="footer-right">
                <div class="footer-right-wrapper">
                    <div class="main-footer-link-box">
                        <a href="#">About</a>
                        <a href="#">Contact</a>
                        <a href="#">Careers</a>
                        <a href="#">Coupons</a>
                    </div>
                    <div class="main-footer-media-box">
                        <a href="#"><span class="fa 2x fa-rss"></span></a>
                        <a href="#"><span class="fa fa-twitter"></span></a>
                        <a href="#">
                            <img src="assets/reddit.png" alt="">
                        </a>
                        <a href="#">
                            <img src="assets/facebook.png" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="mobile-footer">
            
            <!-- <p class="copyright phone-show">
                Copyright &copy; 2020 | NBC NEWS
            </p> -->
        </div>
    </div>
</footer>