header {
    background: #ffffff;
    margin-bottom: 2em;
    background: rgba(255, 255, 255, 0.85);
    backdrop-filter: blur(28px);
    padding: 0.7em 0.2em;
}

nav {
    display: flex;
    align-items: center;
}

.logo-box img {
    width: 62.79px;
    height: 52px;
}

.nav-middle {
    display: flex;
    align-items: center;
    gap: 1em;
    margin-left: 2em;
}

@media screen and (max-width: 426px)  {
    .nav-middle {display: none;}
}